@using Sitecore
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Diagnostics
@model Sitecore.Mvc.Presentation.RenderingModel

@try
{ 
<footer>
    <div class="content-wrapper social-wrapper clear">
        <div class="social-logo left">
            <a href="/">
                @Html.Sitecore().Placeholder("footer-logo")
            </a>
        </div>
        
        @Html.Sitecore().Placeholder("footer-social")

    </div>
    <div class="content-wrapper sitemap-wrapper clear">
        <div class="left mr-120">
            @*@foreach (var link in Model.ButtonLinks) 
            {
                @Html.Partial("~/Views/WageWorks/Renderings/Navigation/Link.cshtml", link)
            }*@
        </div>
        @Html.Sitecore().Placeholder("footer-top")
        
    </div>
    <div class="content-wrapper copyright-wrapper">
       @* utilitynav *@
        @Html.Sitecore().Placeholder("footer-bottom")

        @* copyright will have footer bottom as well *@
    </div>
    <div class="goto-top"><a href="#"></a></div>
</footer>
}
catch(Exception ex)
{
    Log.Error("Error in view Footer.cshtml: " , ex.Message + ex.StackTrace);

}