@using WageWorks.Feature.Navigation
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using WageWorks.Feature.Navigation.Extensions

@model WageWorks.Feature.Navigation.Models.NavigationItems

@if (Model?.NavItems == null || !Model.NavItems.Any())
{
    return;
}

@foreach (var menuItem in Model.NavItems)
{
    var menuSubItems = menuItem.Children;
    var activeClass = menuItem.TargetItem?.ID == Sitecore.Context.Item?.ID ? "active" : "";

    <li class="@activeClass">
        <a href="@menuItem.NavigationTitle">@menuItem.NavigationTitle</a>
       @if (menuSubItems.NavItems.Count() > 0)
        {
            <div class="sub-level">
                <ul>
                    @{
                        int i = 0;
                        foreach (var menuSubItem in menuSubItems.NavItems)
                        {
                            <li class="sub-menu-link">
                                <a href="#">@menuSubItem.NavigationTitle</a>
                                <div class="sub-level sub-section-menu" style="display:none;">
                                    @foreach (var linkGroup in menuSubItem.Children.NavItems)
                                    {
                                        <nav>
                                            <h6>@linkGroup.NavigationTitle</h6>
                                            <ul>
                                                @foreach (var link in linkGroup.Children.NavItems)
                                                {
                                                    <li><a href="@link.Url">@link.NavigationTitle</a></li>
                                                }
                                            </ul>
                                        </nav>
                                    }
                                    <div class="link-arrow-wrapper">
                                        <div class="content-wrapper flex-end link-arrow">
                                            <a href="@menuSubItem.Url">See All @menuSubItem.NavigationTitle</a>    
                                        </div>
                                    </div>
                                </div>
                            </li>

                            i++;
                        }
                    }
                </ul>
            </div>
        }
    </li>
}