
@using WageWorks.Feature.Navigation
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using WageWorks.Feature.Navigation.Extensions
@using Sitecore.Diagnostics
@model WageWorks.Feature.Navigation.Models.NavigationItems

@try
{
    if (Model.NavItems.Count() > 0)
    {
            foreach (var child in Model.NavItems)
            {
                <li>
                    <a href="@(child.Url)@(string.IsNullOrEmpty(child.Anchor) ? "" : "#" + child.Anchor)" target="@child.Target" title="@child.Item[Templates.Navigable.Fields.NavigationTitle]">
                        @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, child.Item)

                        @child.CssClass
                    </a>
                </li>
            }
    }
}
catch (Exception ex)
{
    Log.Error("Error in view RightNav.cshtml: ", ex.Message + ex.StackTrace);
}