@model Wageworks.Feature.Teasers.Models.PromoSectionViewModel
@using System.Linq

@if (Model != null && Model.PromoItems != null && Model.PromoItems.Any())
{

    <section class="news__grid container conservation">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h2>@Model.Title</h2>
        }
        <div class="@Model.CssClass">
            @foreach (var promoItem in Model.PromoItems)
            {

                <div>
                    @if (promoItem.Links.Any())
                    {
                        <a href="@promoItem.Links.First().Url">
                            <img src="@promoItem.BackgroundImage" />
                        </a>
                    }
                    else
                    {
                        <img src="@promoItem.BackgroundImage" />
                    }

                    <h4>@Html.Raw(promoItem.Title)</h4>

                    @if (!string.IsNullOrEmpty(promoItem.Body))
                    {
                        @Html.Raw(promoItem.Body)
                    }

                    @if (promoItem?.Links?.Any() ?? false)
                    {
                        <div class="news__grid cta">
                            @foreach (var lnk in promoItem.Links)
                            {
                                <a href="@lnk.Url" class="@(lnk.RenderAsLink ? "" : "btn") @lnk.CssClass" target="@lnk.Target">@lnk.Text</a>
                            }
                        </div>
                    }
                </div>
            }

        </div>
    </section>
}