@model WageWorks.Feature.Teasers.Models.PromoViewModel
@using Sitecore.Diagnostics
@using WageWorks.Foundation.SitecoreExtensions.Extensions

    
@try
{

    <header class="with-tag-hero flex-vam">
        <div class="content-wrapper">
            <div class="tag-wrapper">
                @*@Html.Sitecore().ControllerRendering("Navigation", "BreadCrumb")*@
                

                <h1>
                    @Model.PromoItem.TitleBaseColor
                    <span class="accent">
                        @Model.PromoItem.TitleAccentColor
                    </span>
                    @Model.PromoItem.TitleBase
                </h1>
                <p class="large mt-30">@Html.Raw(Model.PromoItem.Description)</p>
            </div>

            @if (Model.PromoItem.Links.Count() > 0)
            {
                <div class="mt-60">
                    @foreach (var link in Model.PromoItem.Links)
                    {

                        @Html.Partial("_CallToAction", link)

                    }
                </div>
            }

                <div class="hero-wrapper" style="background-image: url('@Model.PromoItem.BackgroundImage');"></div>


            @*@if (isExperienceEditor)
        {
            <div class="hero-wrapper">
                @Html.Sitecore().Field(Fields.Image, new { @w = imageSize.Width, @h = imageSize.Height })
            </div>
        }
        else if (imageUrl != null)
        {
            <div class="hero-wrapper" style="background-image:url(@imageUrl)"></div>
        }*@
        </div>
    </header>
}
catch (Exception ex)
{
    Log.Error("Error in view Promo.cshtml: ", ex.Message + ex.StackTrace);
}
