@model WageWorks.Feature.Teasers.Models.Glass.IPromotion 
@using Sitecore.Diagnostics
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using Glass.Mapper.Sc.Web.Mvc
    
@try
{

    <header class="with-tag-hero flex-vam">
        <div class="content-wrapper">
            <div class="tag-wrapper">
                @*@Html.Sitecore().ControllerRendering("Navigation", "BreadCrumb")*@
                
                <h1>
                    @Html.Glass().Editable(Model, x => x.TitleBaseColor)
                    <span class="accent">
                        @Html.Glass().Editable(Model, x => x.TitleAccentColor)
                    </span>
                    @Html.Glass().Editable(Model, x => x.TitleBase)
                </h1>
                <p class="large mt-30">@Html.Glass().Editable(Model, x => x.Description)</p>
            </div>

            @*@if (Model.Count() > 0)
            {
                <div class="mt-60">
                    @foreach (var link in Model.PromoItem.Links)
                    {

                        @Html.Partial("_CallToAction", link)

                    }
                </div>
            }*@



            @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="hero-wrapper">
                @Html.Glass().RenderImage(Model, x=>x.BackgroundImage, isEditable: true)
            </div>
        }
        else if (Model.BackgroundImage != null)
        {
            <div class="hero-wrapper" style="background-image:url(@Model.BackgroundImage.Src)"></div>
        }
        </div>
    </header>
}
catch (Exception ex)
{
    Log.Error("Error in view Promo.cshtml: ", ex.Message + ex.StackTrace);
}
