@model WageWorks.Feature.Teasers.Models.PromoViewModel
@using Sitecore.Diagnostics
@using WageWorks.Foundation.SitecoreExtensions.Extensions

    
@try
{

    <header class="with-tag-hero flex-vam">
        <div class="content-wrapper">
            <div class="tag-wrapper">
                @*@Html.Sitecore().ControllerRendering("Navigation", "BreadCrumb")*@
                

                <h1>
                    @Html.Sitecore().Field("TitleBaseColor", Model.PromoItem)
                    <span class="accent">
                        @Html.Sitecore().Field("TitleAccentColor", Model.PromoItem)
                    </span>
                    @Html.Sitecore().Field("TitleBase", Model.PromoItem)
                </h1>
                <p class="large mt-30">@Html.Sitecore().Field("Description", Model.PromoItem)</p>
            </div>

            @if (Model.PromoItem.Links.Count() > 0)
            {
                <div class="mt-60">
                    @foreach (var link in Model.PromoItem.Links)
                    {

                        @Html.Partial("_CallToAction", link)

                    }
                </div>
            }

                @*<div class="hero-wrapper" style="background-image: url('@Model.PromoItem.BackgroundImage');"></div>*@


            @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="hero-wrapper">
                @Html.Sitecore().Field("BackgroundImage", Model.PromoItem)
            </div>
        }
        else if (Model.PromoItem.BackgroundImage != null)
        {
            <div class="hero-wrapper" style="background-image:url(@Model.PromoItem.BackgroundImage)"></div>
        }
        </div>
    </header>
}
catch (Exception ex)
{
    Log.Error("Error in view Promo.cshtml: ", ex.Message + ex.StackTrace);
}
