@model WageWorks.Feature.Teasers.Models.PromoViewModel
@using Sitecore.Diagnostics
@using WageWorks.Foundation.SitecoreExtensions.Extensions

@if (Model != null && Model.PromoItem != null)
{
    <section class="promo @Model.CssClass @Model.PromoItem.CssClass">
        @* TODO - new fields so individual promos can have intros *@
        @if (!string.IsNullOrWhiteSpace(Model.PromoItem.SectionTitle) || !string.IsNullOrWhiteSpace(Model.PromoItem.Headline))
        {
            <div class="promo__intro">
                @if (!string.IsNullOrWhiteSpace(Model.PromoItem.SectionTitle))
                {
                    <h2 class="promo__intro--title">@Model.PromoItem.SectionTitle</h2>
                }
                @if (!string.IsNullOrWhiteSpace(Model.PromoItem.Headline))
                {
                    <div class="promo__intro--copy">
                        @Html.Raw(Model.PromoItem.Headline)
                    </div>
                }
            </div>
        }


        <div class="promo__content-wrapper container @(Model.PromoItem.Links.Any() ? "" : "no-ctas")">
            <div class="promo__content">
                @if (!string.IsNullOrEmpty(Model.PromoItem.Badge))
                {
                    <p class="promo__badge">@Model.PromoItem.Badge</p>
                }

                @if (!string.IsNullOrEmpty(Model.PromoItem.ForegroundImage))
                {
                    <img class="promo__content-img" src="@Model.PromoItem.ForegroundImage" alt="@Model.PromoItem.Title" />
                }

                <h2>
                    @Html.Raw(Model.PromoItem.Title)
                </h2>

                <div class="promo__copy">
                    @Html.Raw(Model.PromoItem.Body)
                </div>

                @if (Model.PromoItem.Links.Any())
                {
                    <div class="promo__ctas">
                        @foreach (var cta in Model.PromoItem.Links)
                        {
                            @Html.Partial("_CallToAction", cta)
                        }
                    </div>
                }
            </div>
        </div>

    </section>
}

@try
{
    <header class="with-tag-hero flex-vam">
        <div class="content-wrapper">
            <div class="tag-wrapper">
                @Html.Sitecore().ControllerRendering("Navigation", "BreadCrumbs")
                <h1>
                    @Model.PromoItem.TitleBaseColor
                    <span class="accent">
                        @Model.PromoItem.TitleAccentColor
                    </span>
                    @Model.PromoItem.TitleBase
                </h1>
                <p class="large mt-30">@Html.Raw(Model.PromoItem.Description)</p>
            </div>

            @if (Model.PromoItem.Links.Count() > 0)
            {
                <div class="mt-60">
                    @foreach (var link in Model.PromoItem.Links)
                    {

                        @Html.Partial("_CallToAction", link)

                    }
                </div>
            }

            @{
                var bg = string.IsNullOrWhiteSpace(Model.PromoItem.BackgroundImage) ? "" : "background-image: url('" + Model.PromoItem.BackgroundImage + "')";
                <div class="hero-wrapper" style=@bg></div>
            }


            @*@if (isExperienceEditor)
        {
            <div class="hero-wrapper">
                @Html.Sitecore().Field(Fields.Image, new { @w = imageSize.Width, @h = imageSize.Height })
            </div>
        }
        else if (imageUrl != null)
        {
            <div class="hero-wrapper" style="background-image:url(@imageUrl)"></div>
        }*@
        </div>
    </header>
}
catch (Exception ex)
{
    Log.Error("Error in view Promo.cshtml: ", ex.Message + ex.StackTrace);
}
