@model WageWorks.Feature.Teasers.Models.Glass.IPromotion
@using Sitecore.Diagnostics
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using Glass.Mapper.Sc.Web.Mvc
    
@try
{

    <header class="with-tag-hero flex-vam">
        <div class="content-wrapper">
            <div class="tag-wrapper">
                @*@Html.Sitecore().ControllerRendering("Navigation", "BreadCrumb")*@
                @Html.Glass().Editable(Model, x => x.TitleBaseColor)
                <h1>
                    @Model.TitleBaseColor
                    @*@Model.PromoItem.TitleBaseColor*@
                    <span class="accent">
                        @*@Model.PromoItem.TitleAccentColor*@
                    </span>
                    @*@Model.PromoItem.TitleBase*@
                </h1>
                <p class="large mt-30">@*@Html.Sitecore().Field("Description", Model.PromoItem)*@</p>
            </div>

            @*@if (Model.PromoItem.Links.Count() > 0)
            {
                <div class="mt-60">
                    @foreach (var link in Model.PromoItem.Links)
                    {

                        @Html.Partial("_CallToAction", link)

                    }
                </div>
            }*@

                @*<div class="hero-wrapper" style="background-image: url('@Model.PromoItem.BackgroundImage');"></div>*@


            @*@if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="hero-wrapper">
                @Html.Sitecore().Field("BackgroundImage", Model.PromoItem)
            </div>
        }
        else if (Model.PromoItem.BackgroundImage != null)
        {
            <div class="hero-wrapper" style="background-image:url(@Model.PromoItem.BackgroundImage)"></div>
        }*@
        </div>
    </header>
}
catch (Exception ex)
{
    Log.Error("Error in view Promo.cshtml: ", ex.Message + ex.StackTrace);
}
