@model WageWorks.Feature.Teasers.Models.PromoSectionViewModel
@using System.Linq
@using Sitecore.Mvc.Presentation
@using WageWorks.Foundation.Theming.Extensions

@if (Model != null && Model.PromoItems != null && Model.PromoItems.Any())
{
    <section class="@RenderingContext.Current.Rendering.GetSpaceStyling()">
        <div class="content-wrapper benefit-guide-wrapper">
            <aside class="on-the-left">
                <div class="link-arrow-left benefit-links">
                    <ul>
                        @if (Sitecore.Context.PageMode.IsExperienceEditor && Model.PromoItems.Count() == 0)
                        {
                            <li>
                                <a href=".step-1" class="active">Please add Guides in component properties</a>
                            </li>
                        }

                        @{ int i = 0; }
                        @foreach (var guideInfo in Model.PromoItems)
                        {
                            <li>
                                <a href=".step-@i.ToString()" class="@(i == 0 ? "active" : string.Empty)">@guideInfo.SectionTitle</a>
                            </li>
                            i++;
                        }
                    </ul>
                </div>

                <div class="mt-60 link-arrow">
                    <a href="@RenderingContext.Current.Rendering.SeeAllLink()">@RenderingContext.Current.Rendering.SeeAllTitle()</a>
                    </div>
            </aside>

            @if (Sitecore.Context.PageMode.IsExperienceEditor && Model.PromoItems.Count() == 0)
            {
                <div class="benefit-guide-content step-1">
                    <h2 class="text-center font-weight-bold">Please add Guides in component properties</h2>
                </div>
            }


            @{ int k = 0; }
            @foreach (var guideInfo in Model.PromoItems)
            {
                <div class="benefit-guide-content step-@k.ToString()">
                    <div>
                        <h6>@guideInfo.TitleBaseColor</h6>
                        <h3 class="mt-20 mb-20"><strong>@guideInfo.SectionTitle</strong></h3>
                        <p class="mb-30 small">@guideInfo.Description</p>
                        @*@if (guideInfo.Tags.Count() > 0)
                            {
                                <ul>
                                    @foreach (var link in guideInfo.Tags)
                                    {
                                        link.IsBoldText = true;
                                        <li>
                                            <div class="link-underline ib">@Html.Partial("~/Views/WageWorks/Renderings/Navigation/Link.cshtml", link)</div>
                                        </li>

                                    }
                                </ul>
                            }*@
                    </div>

                    <div class="mt-20">
                        @foreach (var cta in guideInfo.Links)
                        {
                            <a href="@cta.Url" target="@cta.Target" class="@(cta.RenderAsLink ? "" : "button") @cta.CssClass">
                                @cta.Text
                            </a>
                        }
                    </div>

                    <div class="content-image" style="background-image:url('@guideInfo.BackgroundImage')"></div>
                </div>
                k++;
            }
        </div>
    </section>



}











