@using Sitecore.Data
@using Sitecore.Mvc.Presentation
@using WageWorks.Foundation.Theming.Extensions
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using Glass.Mapper.Sc.Web.Mvc
@model WageWorks.Feature.Teasers.Models.Glass.IPromoSection

<section class="@RenderingContext.Current.Rendering.GetSpaceStyling() @RenderingContext.Current.Rendering.GetSectionColor()">
    <div class="content-wrapper flex-vam flex-cols">
        <aside class="on-the-left white">
            <h3 class="mb-30"><strong>@Html.Glass().Editable(Model, x => x.Title)</strong></h3>
            @if (RenderingContext.Current.Rendering.GetLayout() == "Right")
            {
            <p>@Html.Glass().Editable(Model, x => x.Description)</p>
            }
            else
            {
                <div class="white buttons-wrapper ">
                    <a class="button reverse" href="@Model.MoreLink.Url" target="@Model.MoreLink.Target">@Model.MoreLink.Text</a>
                </div>
            }
        </aside>
        @if (RenderingContext.Current.Rendering.GetLayout() == "Right")
        {
            <div class="white buttons-wrapper">
                <div class="ib mr-30">
                    <a class="@Model.MoreLink.CssClass mr-30" href="@Model.MoreLink.Url" target="@Model.MoreLink.Target">@Model.MoreLink.Text</a>
                </div>
            </div>
        }
        else
        {
            <div class="white">
                <p class="mb-30">@Html.Glass().Editable(Model, x => x.Description)</p>
            </div>
        }
    </div>
</section>